*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
 
}
nav{
    display: flex;
    justify-content: space-around;
}
nav .logo img{
    margin: 16px auto;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin: 34px auto;
    font-size: 16px;
    font-weight: 500;    
}

nav .menu a{
    text-decoration: none;
       
}
nav button {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 24px auto;
    font-size: ;
    background-color: #30b868;
    border: 0px;
    padding: 12px;
    border-radius: 5px;
}




    
   
