*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* share style */

.color-green{
    color: #30b868;
}

header{
    width: 100%;
 max-width: 1600px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav .logo img{
    margin: 16px auto;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin: 34px auto;
    font-size: 16px;
    font-weight: 500;    
}

nav .menu a{
    text-decoration: none;
       
}
nav button {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 24px auto;
    font-size: ;
    background-color: #30b868;
    border: 0px;
    padding: 12px;
    border-radius: 5px;
}
#banner{
    width: 100%;
    max-width: 1600px;
    background-image: url("../assets/hero-bg.png");
}
#banner .banner-content{
   max-width: 1360px;
   display: flex;
   align-items: center;
}
#banner .banner-content h5{
    max-width: 229px;
    font-size: 16px;
    color: #30b868;
    background-color: white;
    padding: 8px 12px;
    border: 0;
    border-radius: 15px;
    margin-bottom: 16px;
    
}
#banner .banner-content p{
    font-size: 16px;
    color: white;
    line-height: 30px;
}








    
   
